body{
    background-color: whitesmoke;
    color:black;
    
 }
 .Título-de-página {
    color: purple;
 }
 body {
    font-family: "Noto Serif Hentaigana", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .Descripción {
    text-align: center; 
    font-weight: bold; 
    font-size: larger;
    font-size: 100px;
  }
  p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }

.imagen-contacto {
  width: 500px; 
  height: 600px;
  object-fit: cover;
}

.form-control {
  border: 2px solid black;
}

.form-control:focus {
  border-color: purple;
}

.titulos-conocenos {
  color: purple;
  text-align: left;
}
.definiciones-conocenos {
  text-align: left; 
  font-weight: normal; 
  font-size: medium;
  font-size: 20px;
}

.lista-de-valores {
  text-align: left;
  font-weight: normal; 
  font-size: medium;
  font-size: 20px;
}
